<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FPShop</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>cn.fpshop.web.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.fpshop.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userservlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>privilegeFilter</display-name>
    <filter-name>privilegeFilter</filter-name>
    <filter-class>cn.fpshop.web.filter.privilegeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>privilegeFilter</filter-name>
    <url-pattern>/privilege/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>cn.fpshop.web.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/productservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminServlet</display-name>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>cn.fpshop.web.servlet.adminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminAddProduct</display-name>
    <servlet-name>adminAddProduct</servlet-name>
    <servlet-class>cn.fpshop.web.servlet.adminAddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminAddProduct</servlet-name>
    <url-pattern>/adminAddProduct</url-pattern>
  </servlet-mapping>
</web-app>